<ion-view view-title="Account">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="settings.enableFriends">
                Enable Sales Syncing
            </ion-toggle>
            <ion-toggle>
                Place Holder Setting 1
            </ion-toggle>
            <ion-toggle>
                Place Holder Setting 2
            </ion-toggle>
            <ion-toggle>
                Place Holder Setting 3
            </ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>
