<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Recent Updates <b> 12/16/15 </b></div>
            <div class="item item-body">
                <div>
                    Beta test of the barcode featueres<b> warning things are pretty broken and in testing phases</b>
                </div>
            </div>
        </div>
        <div class="item item-divider">Recent Updates <b> 12/11/15 </b> </div>
        <div class="item item-body">
            <div>
                Added early version of a barcode scanner that should accept most barcode types</b>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
